[Unit]
Wants=network.target polkit.service
After=network.target polkit.service

[Service]
User=applaunchd
Environment=XDG_DATA_DIRS=/usr/share
ExecStart=/usr/bin/applaunchd
Restart=on-failure

[Install]
WantedBy=multi-user.target
