#
# Weston must be built with systemd support, and your weston.ini must load
# the plugin systemd-notify.so.

[Unit]
Description=agl-compositor, a Wayland compositor, as a systemd user service
Documentation=https://docs.automotivelinux.org/en/master/#5_Component_Documentation/1_agl-compositor/

[Socket]
ListenStream=%t/wayland-0
